## Sequence Type - Part 1

Tipe data ini digunakan untuk menampung sekumpulan data secara terorganisir.
Bentuk dari tipe data sequence ini adalah **List** dan **Tuple**.

### Tugas :
1. Petunjuk 1: Input data `1`, `'dua'`, `3`, `4.0`, `5` ke dalam contoh_list
2. Petunjuk 2: Ambil Elemen pertama dari `contoh_list` untuk menampilkan output `1` menggunakan `print` statement
3. Petunjuk 3: Ambil Elemen ke empat dari `contoh_list` untuk menampilkan output `4.0` menggunakan `print` statement
4. Petunjuk 4: Input data `1`, `'dua'`, `3`, `4.0`, `5` ke dalam `contoh_list`
5. Petunjuk 5: Rubah Elemen keempat dalam `contoh_list` menjadi `'empat'`
6. Petunjuk 6: Tampilkan output elemen keempat yang telah dirubah tersebut menggunakan `print` statement

In [1]:
contoh_list = [1, 'dua', 3, 4.0, 5]
print(contoh_list[0])
print(contoh_list[3])
contoh_list = [1, 'dua', 3, '4.0', 5]
contoh_list[3] = 'empat'
print(contoh_list[3])

1
4.0
empat

## Sequence Type – Part 2

Setelah mempelajari tipe data **list**, aku mempelajari tipe data **tuple**. Tipe data **tuple** juga berfungsi untuk menampung sekumpulan data. Tipe data ini diawali dengan tanda kurung buka ( `(` ), memisahkan setiap elemen di dalamnya dengan tanda koma ( `,` ) dan ditutup dengan tanda kurung tutup ( `)` ).

Aturan indeks dan cara mengakses elemen pada sebuah tuple serupa dengan list.

Berbeda dengan tipe data **list**, tipe data **tuple** bersifat **immutable** yang berarti elemen pada tipe data tuple tidak dapat diubah setelah proses pendeklarasiannya.

### Tugas :
1. Petunjuk 1: Input data **Januari sampai dengan April** ke dalam contoh_tuple
2. Petunjuk 2: Ambil Elemen pertama dari `contoh_tuple` untuk menampilkan output `1` menggunakan `print` statement
3. Petunjuk 3: **Input kembali** data **Januari sampai dengan April** ke dalam `contoh_tuple`
4. Petunjuk 4: Rubah Elemen pertama dalam `contoh_tuple` menjadi `'Desember'`

Ketika dijlankan ini akan menghasilkan error yaitu `TypeError`, silakan kamu submit dengan adanya error dari output pada Petunjuk 4 tersebut.

In [2]:
contoh_tuple = ('Januari', 'Februari', 'Maret', 'April')
print(contoh_tuple[0])
contoh_tuple = ('Januari', 'Februari', 'Maret', 'April')
contoh_tuple[0] = 'Desember'

Januari

TypeError: 'tuple' object does not support item assignment

## Set Type

Serupa dengan tipe data *sequence*, tipe data **set** digunakan untuk menampung sekumpulan data dengan tipe lainnya. Terdapat dua jenis dari tipe data *set* yaitu, **set** dan **frozenset**.

Tipe data **set** diawali dengan tanda kurung buka kurawal ( `{` ), memisahkan setiap elemen di dalamnya dengan tanda koma ( `,` ) dan ditutup dengan tanda kurung tutup ( `}` ). Namun berbeda dengan tipe data *sequence*, seperti *list*, **tipe data objek tidak mengizinkan adanya elemen dengan nilai yang sama** dan **tidak memperdulikan urutan** dari elemen.

Bagaimana dengan tipe data **frozenset**? Tipe data frozenset sebenarnya hanya merupakan set yang bersifat **immutable**, yang artinya setiap elemen di dalam frozenset tidak dapat diubah setelah proses deklarasinya.

### Tugas :
1. Tugas 1:Input data Dewi, Budi, Cici, Linda, Cici kedalam tipe data list dan tampilkan hasilnya
2. Tugas 2: Input data Dewi, Budi, Cici, Linda, Cici kedalam tipe data set dan tampilkan hasilnya
3. Tugas 3: Input data Dewi, Budi, Cici, Linda, Cici kedalam tipe data frozenset dan tampilkan hasilnya

In [3]:
contoh_list = ('Dewi', 'Budi', 'Cici', 'Linda', 'Cici') 
print(contoh_list)
contoh_set = {'Dewi', 'Budi', 'Cici', 'Linda', 'Cici'}
print(contoh_set)
contoh_frozen_set = ({'Dewi', 'Budi', 'Cici', 'Linda', 'Cici'})
print(contoh_frozen_set)

('Dewi', 'Budi', 'Cici', 'Linda', 'Cici')
{'Linda', 'Cici', 'Budi', 'Dewi'}
{'Linda', 'Cici', 'Budi', 'Dewi'}

## Mapping Type

Tipe data **mapping** dapat digunakan untuk memetakan sebuah nilai ke nilai lainnya. Dalam Python, tipe data mapping disebut dengan istilah **dictionary**. Tipe data dictionary dapat dideklarasikan dengan diawali oleh tanda kurung buka kurawal ( `{` ), memisahkan setiap elemen di dalamnya dengan tanda koma ( `,` ) dan ditutup dengan tanda kurung tutup ( `}` ). Setiap elemen pada tipe data dictionary dideklarasikan dengan format:

`"kunci" : "nilai"`

### Tugas :
Menggunakan tipe data *mapping*, aku diminta Senja untuk menampilkan nama & pekerjaan John Doe, seorang *Programmer*.

In [4]:
person = {'nama': 'John Doe', 'pekerjaan': 'Programmer'}
print(person['nama'])
print(person['pekerjaan'])

John Doe
Programmer

In [6]:
from tabulate import tabulate

# Sample data
data = [
    ["Sepatu Niko", 150000, 30000],
    ["Baju Unikloh", 80000, 8000],
    ["Celana Lepis", 200000, 60000]
]

# Column headers
headers = ["Nama Barang", "Harga", "Diskon"]

# Create table
table = tabulate(data, headers, tablefmt="fancy_grid")

# Print table
print(table)

╒═══════════════╤═════════╤══════════╕
│ Nama Barang   │   Harga │   Diskon │
╞═══════════════╪═════════╪══════════╡
│ Sepatu Niko   │  150000 │    30000 │
├───────────────┼─────────┼──────────┤
│ Baju Unikloh  │   80000 │     8000 │
├───────────────┼─────────┼──────────┤
│ Celana Lepis  │  200000 │    60000 │
╘═══════════════╧═════════╧══════════╛

## Tugas Praktek

In [7]:
sepatu = {"nama": 'Sepatu Niko', 'harga': 150000, "diskon": 30000 }
baju = {"nama": 'Baju Unikloh', 'harga': 80000, "diskon": 8000 }
celana = {"nama": 'Celana Lepis', 'harga': 200000, "diskon": 60000 }

Setelah berhasil merepresentasikan setiap barang ke dalam tipe data *dictionary* dengan variabel `nama`, `harga`, dan `diskon`, langkahku selanjutnya adalah: mendeklarasikan *list* dengan nama `daftar_belanja` yang berisi data `sepatu`, `baju`, dan `celana`.

In [8]:
sepatu = {"nama": "Sepatu Niko", "harga": 150000, "diskon": 30000} 
baju = {"nama": "Baju Unikloh", "harga": 80000, "diskon": 8000} 
celana = {"nama": "Celana Lepis", "harga": 200000, "diskon": 60000} 
daftar_belanja = [sepatu, baju, celana]

Menghitung total harga jual dengan potongan harga beserta pajak sebesar 10% dari nilai jual.

Tips untuk menyelesaikan tugas ini:

1. Tips 1. # Data yang dinyatakan ke dalam dictionary
2. Tips 2. # Hitung harga masing-masing data setelah dikurangi diskon
3. Tips 3. # Hitung harga total
4. Tips 4. # Hitung harga kena pajak
5. Tips 5. # Cetak total_harga + total_pajak

In [9]:
# Data yang dinyatakan ke dalam dictionary
sepatu = {"nama": "Sepatu Niko", "harga": 150000, "diskon": 30000} 
baju = {"nama": "Baju Unikloh", "harga": 80000, "diskon": 8000} 
celana = {"nama": "Celana Lepis", "harga": 200000, "diskon": 60000}
# Hitunglah harga masing-masing data setelah dikurangi diskon
harga_sepatu = sepatu["harga"] - sepatu["diskon"] 
harga_baju = baju["harga"] - baju["diskon"]
harga_celana = celana["harga"] - celana["diskon"]
# Hitung harga total
total_harga = harga_sepatu + harga_baju + harga_celana
# Hitung harga kena pajak
total_pajak = total_harga * 0.1
# Cetak total_harga + total_pajak
print(total_harga + total_pajak)

365200.0